/* .App {
  min-height : 100vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

} */

.cards{
 /* margin-right : 20px; */
 margin-top:30px;
 margin-left:85px;

}

.carousel{
  margin-top :10px;
}

.buynowbutton{
  margin-left:20px;
}

